body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

#menu-button {
    display: none;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    .nav-links li {
        margin: 10px 0;
    }

    #menu-button {
        display: block;
    }
}