body {
    margin: 0;
    padding: 0;
}

.slider-container {
    max-width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slider img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}